image: php:8.1

pipelines:
  default:
    - step:
        name: PHP Syntax Check
        caches:
          - composer
        script:
          - apt-get update && apt-get install -y git zip unzip
          - php -l itomic-countdown.php
          - php -l uninstall.php
          - find assets -name "*.php" -exec php -l {} \;
        artifacts:
          - deploy/**
    - step:
        name: WordPress Coding Standards
        caches:
          - composer
        script:
          - apt-get update && apt-get install -y git zip unzip
          - composer global require squizlabs/php_codesniffer
          - composer global require wp-coding-standards/wpcs
          - ~/.composer/vendor/bin/phpcs --standard=WordPress itomic-countdown.php
          - ~/.composer/vendor/bin/phpcs --standard=WordPress assets/
        artifacts:
          - deploy/**
    - step:
        name: Build Plugin Package
        script:
          - apt-get update && apt-get install -y git zip unzip
          - chmod +x deploy.sh
          - ./deploy.sh
        artifacts:
          - deploy/**

  branches:
    main:
      - step:
          name: Deploy to Update Server
          script:
            - apt-get update && apt-get install -y openssh-client
            - chmod +x deploy.sh
            - ./deploy.sh
            - echo "=== DEBUG: Checking deploy directory ==="
            - ls -la deploy/
            - echo "=== DEBUG: Checking for ZIP files ==="
            - ls -la deploy/*.zip
            - echo "=== DEBUG: File contents ==="
            - cat deploy/version.json
            - scp -o StrictHostKeyChecking=no deploy/itomic-countdown-*.zip root@pegasus.itomic.com:/home/itomicau/public_html/plugins/itomic-countdown/
            - scp -o StrictHostKeyChecking=no deploy/version.json root@pegasus.itomic.com:/home/itomicau/public_html/plugins/itomic-countdown/
            - scp -o StrictHostKeyChecking=no deploy/info.json root@pegasus.itomic.com:/home/itomicau/public_html/plugins/itomic-countdown/
            - ssh -o StrictHostKeyChecking=no root@pegasus.itomic.com "chown itomicau:itomicau /home/itomicau/public_html/plugins/itomic-countdown/*"
          artifacts:
            - deploy/**

definitions:
  caches:
    composer: ~/.composer/cache 